Flask>=2.3,<3.0
Werkzeug>=2.3,<3.0
markupsafe>=2.1

psycopg2-binary>=2.9

deep-translator>=1.11

pdfplumber>=0.10
PyPDF2>=3.0

chardet>=5.2

gunicorn>=21.2



elevenlabs==0.2.27
transformers
torch
sentencepiece
arabic_reshaper
python-bidi
python-dotenv>=1.0